/*Customized Addition*/
.redmarginbox{
  border-left: 5px solid red !important;
}
/*Customized Addition*/

/* ************************card design ********************* */

.card-title{
  font-size: 40px !important;
  font-family: 'Dosis', sans-serif;
}

.card-title-desc{
  font-size: 15px !important;
}
/* ************************card design end ********************* */



/* ++++++++++++++++++ table deign +++++++++++++++++++++++*/
table{
 table-layout:auto !important;
 width:100%;

}
td {

  white-space: nowrap;
}
.table{
  overflow-y:hidden !important;
}
.table thead{
  background: linear-gradient(to  right, #12A6CC, #2121bf ) !important;
  color: white;

}

.table-thinkagainlab tbody tr {

  background-color:#fff;
  color:#212121;

}

.table-thinkagainlab{
  border-collapse: separate;
  border-spacing: 0 5px;

}

.table-thinkagainlab td{
  padding-top: .5% !important;
  padding-bottom: .5% !important;
}
.table-thinkagainlab thead tr th{
  font-weight: bold;

}
/* ++++++++++++++++++Table design end++++++++++++++++++++++++++ */

/* #########################scrollbar design ###################### */
/* width */
::-webkit-scrollbar {
  width: 0%;
  height: 3%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: .4%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to  right, #12A6CC, #2121bf ) !important;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to  right, #2121bf, #12A6CC ) !important;;
}
/* #########################scrollbar design############################# */

/* ////////////////////////Button Design//////////////////////////////// */

.btn-technomart{


  border-radius: 6px;
background: linear-gradient(to  right, #12A6CC, #2121bf ) !important;
border: none;

}

.btn-technomart:hover {
opacity: 80%;


}
/* ////////////////////////Button Design end//////////////////////////////// */

/* ////////////////////////Card Design //////////////////////////////// */
.card-heading-id{
background: linear-gradient(to  right, #12A6CC, #2121bf ) !important;
border-radius: 6px;
color: #fff;
padding: 2%;
}
/* ////////////////////////Card Design end//////////////////////////////// */
